HELP.md
target/
mysql_database
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/sentence/**/target/
mysql_database.rar
backend
client

!**/src/main/resources/secrets.yml
secrets.yml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/sentence/**/build/

### VS Code ###
.vscode/
